# See file COPYING distributed with dpf for copyright and license.

[global]
cache = tmp/process

[handler h1]
location = wc
class = dpf.process.handlers.tests.WCHandler

[handler h2]
location = echo
class = dpf.process.handlers.tests.EchoHandler

[handler h3]
location = bc
class = dpf.process.handlers.ScriptHandler
arguments = ./bc.ph

# eof
